:root {
    --mainColor: #004da4;
  }
  
  body {
    color: var(--mainColor);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-image: url("../images/background.png");
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--mainColor);
    font-weight: 600;
    letter-spacing: 0.9px;
  }
  
  ::selection {
    background-color: var(--mainColor);
    color: #fff;
  }
  
  a {
    cursor: pointer;
  }
  
  .mainColor {
    color: var(--mainColor);
  }
  
  .btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #004da4;
    --bs-btn-border-color: #004da4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #003694;
    --bs-btn-hover-border-color: #003694;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #003694;
    --bs-btn-active-border-color: #003694;
  }
  
  main {
    min-height: 100vh;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;
  }
  
  main nav {
    box-shadow: 0px -8px 22px 4px rgba(0, 77, 165, 0.45);
    background-color: rgb(253 253 253 / 43%) !important;
  }
  
  .navbar-toggler {
    border: none;
    color: var(--mainColor);
    font-size: 1.375rem;
  }
  
  main .navbar-toggler:focus {
    box-shadow: none;
  }
  
  main .form-control:focus {
    border-color: #004da413;
    box-shadow: 0 0 0 0.25rem rgba(0, 76, 163, 0.25);
  }


button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    border: black solid;
}

.ALLABOVE {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(194, 194, 194);
    min-height: 500px ;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
    border-radius: 10px;
    margin-top: 7%;  
    background-color: white;
}

.titre {
    text-align: center;
    margin-top: 100px;
    font-size: 3.5rem
}

.inputDiv {
    margin-top: 50px;
    margin-left: 42px;
}

.input {
    width: 150px;
    height: 50px;
    border: 2px solid rgb(194, 194, 194);
    padding-left: 10px;
    font-size: 15px;
}

.addTask{
    width: 100px;
    height: 55px;
    border: 2px solid rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-left: 10px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
}

.task {
    margin-top: 10px;
    margin-left: 42px;
    margin-right: 42px;
    display: flex; /* Ajoutez ceci pour rendre les enfants de .task en ligne */
    align-items: center; /* Centrer les éléments verticalement */
    gap: 10px; /* Espacement entre les éléments */
    border-bottom: 2px dotted rgb(194, 194, 194, 0.5);
    
}

.taskName {
    flex-grow: 1; /* Permet au texte de prendre tout l'espace disponible */
    
}

.MarkAsDone {
    width: 100px;
    height: 40px;
    border: 2px solid rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-left: 10px;
}

.deleteTask {
    width: 100px;
    height: 40px;
    border: 2px solid rgb(194, 194, 194);
    background-color: rgba(255, 90, 90, 0.532);
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-left: 10px;
}

.Newcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 42px;
    border-bottom: 2px dotted rgb(194, 194, 194, 0.5);
}